<style>
    .spinner {
        width: 100%;
        height: 100%;
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(185, 184, 184, 0.3);
        z-index: 5000;
    }
</style>

<div class="spinner d-none">
    <h2 class="text-dark mb-3">Todo List App</h2>
    <div class="loadinng">
        <div class="spinner-grow text-primary me-2" role="status">
        </div>
        <div class="spinner-grow text-light me-2" role="status">
        </div>
        <div class="spinner-grow text-success me-2" role="status">
        </div>
        <div class="spinner-grow text-primary me-2" role="status">
        </div>
        <div class="spinner-grow text-light me-2" role="status">
        </div>
        <div class="spinner-grow text-success me-2" role="status">
        </div>
    </div>
</div>
